# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Bas Beckers\Desktop\Project\Delta sem4\Drone\Sieuwes GIT\Autonomous-Ai-drone-scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
